* {
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
      vertical-align: baseline;
      font-size: 100%;
}

html {
      font-family: verdana;
}

body {
      width: 100%;
      background: #0E0E0E;
}



.wrapper {
      width: 90%;
      margin: 0 auto;
}

.navBar::after {
      content: "";
      clear: both;
      display: table;
}


h1 {
      color: #fff;
      font-size: 48px;
}
h2 {
      color: #fff;
      font-size: 30px;
}
h3{
      color: pink;
      font-size: 25px;
}

p {
      color: #fff;
      font-size: 24px;
      font-weight: 300;
}



nav {
      height: 70px;
      line-height: 70px;
}

nav a img {
      vertical-align: middle;
      width: 75px;
      height: 50px;
}

nav a:nth-child(2) {
      float: right;
}



header {
      margin: 100px 0 200px 120px;
}

header p {
      width: 60%;
      margin-top: 10px;
}




.work {
      text-align: center;
      width: 100%;
}

.work img {
      margin: 1%;
      width: 45%;
}




.header2 {
      margin: 130px 0 80px 40px;

}


.work2 {
      width: 100%;
      text-align: center;
}

.work2 img {
      margin: 1%;
      width: 94%;
}


footer p {
      text-align: center;
      color: grey;
      margin: 60px auto;
}
a:hover{
      color: white

      
}
a: visited{
      color: white;
}

a: active{
      color: white;

}

.bascot{
  background-color: #f5d6eb ;
  color: black;

}





 .button {
  background-color:   #F08080 ; /* Green */
  border: none;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 3px 1px;
  cursor: pointer;
}



@media only screen and (max-width: 990px) {
      header {
            text-align: left;
            margin: 100px 0 100px 30px;
      }

      header h1 {
            font-size: 36px;
      }

      header p {
            font-size: 16px;
            width: 90%;
      }

      .work img {
            margin: 2%;
            width: 90%;
      }

      .header2 {
            margin: 130px 0 40px 12px;
      }

      .header2 h1 {
            font-size: 36px;
      }
     

      .header2 p {
            font-size: 24px;
            width: 90%;
      }

      .work2 img {
            margin: 2%;
      }









.fa {
  padding: 15px;
  font-size: 35px;
  width: 60px;
  text-align: center;
  text-decoration: none;

  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}



.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}











